{% extends 'journal/layout.html' %} {% load static %} {% block body %}
<div class="container mt-2">
    <h2 class="display-4">All Entries</h2>
    <form
        action="{% url 'all_entries' %}"
        class="d-flex gap-2 mb-3"
        method="get"
        id="filter-form"
    >
        <!-- js -->
    </form>
    {% if not page_entries|length > 0 %}
    <p class="lead alert alert-info">No journal entries to show.</p>
    {% else %} {% for entry in page_entries %}
    <div
        class="border row d-flex mb-2 mx-auto py-2 rounded-2 shadow-sm eachEntryDiv"
        id="entry-{{ entry.id }}"
        data-date="{{ entry.date|date:'Y-m-d' }}"
    >
        <!-- Modal -->
        <div
            class="modal fade"
            id="detailModal-{{ entry.id }}"
            tabindex="-1"
            aria-labelledby="detailModalLabel"
            aria-hidden="true"
        >
            <div
                class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
            >
                <div class="modal-content">
                    <div class="modal-header">
                        <h1
                            class="modal-title fs-5"
                            id="detailModal-{{ entry.id }}Label"
                        >
                            {{ entry.date }}
                        </h1>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                        ></button>
                    </div>
                    <div class="modal-body text-break">
                        <div>{{ entry.content|safe }}</div>
                        {% if entry.tags.all|length > 0 %}
                        <div class="text-info mt-3">
                            {% for tag in entry.tags.all %}
                            <span class="badge rounded-pill text-bg-secondary"
                                >{{ tag }}</span
                            >
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <form action="{% url 'entry' entry.id %}" method="post">
                            {% csrf_token %}
                            <input
                                class="btn btn-outline-danger px-3"
                                type="submit"
                                value="Delete"
                            />
                        </form>
                        <button
                            type="button"
                            class="btn btn-outline-primary px-4"
                        >
                            <a
                                class="nav-link"
                                href="{% url 'update_entry' entry.date %}"
                                >Edit</a
                            >
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="col-2 border-end d-flex flex-column justify-content-center align-items-center"
        >
            <span>{{ entry.date|date:'M' }}</span>
            <span class="fs-1">{{ entry.date|date:'d' }}</span>
            <span>{{ entry.date|date:'Y' }}</span>
        </div>
        <div class="col-8 d-flex flex-column justify-content-between">
            <div class="text-break text-truncate line-clamp line-clamp-3">
                {{ entry.content|safe }}
            </div>

            {% if entry.tags.all|length > 0 %}
            <div class="small text-info-emphasis">
                {{ entry.tags.all|join:', ' }}
            </div>
            {% endif %}
        </div>
        <div class="col-2 d-flex align-items-center justify-content-center">
            <!-- Button trigger modal -->
            <button
                type="button"
                class="btn p-2 rounded-5"
                data-bs-toggle="modal"
                data-bs-target="#detailModal-{{ entry.id }}"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="36"
                    height="36"
                    fill="currentColor"
                    class="bi bi-book text-secondary"
                    viewBox="0 0 16 16"
                >
                    <path
                        d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"
                    />
                </svg>
            </button>
        </div>
    </div>
    {% endfor %} {% endif %}
</div>
<!-- PAGINATION -->
{% if page_entries.paginator.num_pages > 1 %}
<nav class="my-3" aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_entries.has_previous %}
        <li class="page-item">
            <a
                class="page-link"
                href="?page={{ page_entries.previous_page_number }}"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="currentColor"
                    class="bi bi-arrow-left-circle"
                    viewBox="0 0 16 16"
                >
                    <path
                        fill-rule="evenodd"
                        d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"
                    />
                </svg>
            </a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link disabled" href="?page=1">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="currentColor"
                    class="bi bi-arrow-left-circle"
                    viewBox="0 0 16 16"
                >
                    <path
                        fill-rule="evenodd"
                        d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"
                    />
                </svg>
            </a>
        </li>
        {% endif %}
        <li
            class="page-item border d-flex align-items-center justify-content-center px-5"
        >
            <small
                >{{ page_entries.number }} /
                {{page_entries.paginator.num_pages}}
            </small>
        </li>
        {% if page_entries.has_next %}
        <li class="page-item">
            <a
                class="page-link"
                href="?page={{ page_entries.next_page_number }}"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="currentColor"
                    class="bi bi-arrow-right-circle"
                    viewBox="0 0 16 16"
                >
                    <path
                        fill-rule="evenodd"
                        d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
                    />
                </svg>
            </a>
        </li>
        {% else %}
        <li class="page-item">
            <a
                class="page-link disabled"
                href="?page={{ page_entries.paginator.num_pages }}"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="currentColor"
                    class="bi bi-arrow-right-circle"
                    viewBox="0 0 16 16"
                >
                    <path
                        fill-rule="evenodd"
                        d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
                    />
                </svg>
            </a>
        </li>
        {% endif %} 
    </ul>
</nav>
{% endif %} {% block script %}
<script src="{% static 'journal/js/monthYearFilter.js' %}"></script>
{% endblock %} {% endblock %}
