{% extends 'journal/layout.html' %}


{% block body %}
    <div class="container d-grid col-12 col-sm-8 col-md-6 col-lg-4 col-xl-3 mt-2 mx-auto text-center">

    <h2 class="display-4 mb-3">Change Password</h2>

    <form action="{% url 'change_password' %}" method="post">
        {% csrf_token %}
        <div class="form-floating mb-3">
            {{ form.old_password }}
            {{ form.old_password.label_tag }}
            <small class="text-danger">{{ form.old_password.errors }}</small>
        </div>
        <div class="form-floating mb-3">
            {{ form.new_password1 }}
            {{ form.new_password1.label_tag }}
        </div>
        <div class="form-floating mb-3">
            {{ form.new_password2 }}
            {{ form.new_password2.label_tag }}
            <small class="text-danger">{{ form.new_password2.errors }}</small>
        </div>
        <div class="d-grid gap-2 col-12 mx-auto mb-3">
            <input class="btn btn-primary rounded-2" type="submit" value="Change Password" />
        </div>
    </form>

    </div>
{% endblock %}
    